<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head>
        <style>
            #inbox-total-container {
                display: none;
            }
        </style>
    </head>
    <body>
    <th:block layout:fragment="content">
        <H1>Admin</H1>
        <HR/>

        <H2>Delete discussion</H2><BR/>
        <form></form>

        <H2>Censor comment</H2><BR/>

        <H2>Censor all user comments</H2><BR/>

        <H2>Delete all user discussions</H2><BR/>

        <H2>Block User</H2><BR/>

        <H2>Block IP</H2>

    </th:block>
    </body>
</html>