<th:block th:fragment="recording" th:remove="tag">
    <script type="text/javascript" crossorigin="anonymous" th:src="${mscCdn + '/recording/state-machine/shared/stateMachine.js'}"></script>
    <script crossorigin="anonymous" th:src="${mscCdn + '/recording/state-machine/shared/states.js'}"></script>
    <th:block th:if="${isIos}" th:remove="tag">
        <script type="text/javascript">
            var AudioType = "audio/mp4";
        </script>
    </th:block>
    <th:block th:unless="${isIos}" th:remove="tag">
        <script type="text/javascript">
            var AudioType = "audio/webm; codecs=opus";
        </script>
    </th:block>
</th:block>