<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head>
        <title th:text="${dictionary['change-email-address']}"></title>
        <th:block layout:replace="fragments/base-meta.html :: baseMetaContent" th:remove="tag"></th:block>
        <style>
            .container {
                font-size: 1.25em;
            }
            input {
                font-size: 1.25em;
                text-align: center;
            }
            label {
                font-size: 1.5em;
                text-align: center;
                margin-bottom: 5px;
                display: block;
            }
            #email-form {
                padding-top: 20px;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#email-form").submit(function(e) {
                    if ($("#oldEmail").val() === $("#newEmail").val()) {
                        e.preventDefault();
                        alert($("#same-emails").text());
                        return;
                    }
                });
            });
        </script>
    </head>
    <body>
    <th:block layout:fragment="content">
        <span id="same-emails" th:text="${dictionary['emails-are-same']}" style="display: none"></span>
        <H1 th:value="${dictionary['change-email']}"></H1>
        <HR/>
        <div class="container">
            <div id="success" th:if="${success==1}" style="color: green;">
                <p th:text="${dictionary['email-sent']}"></p>
                <p th:text="${dictionary['click-link']}"></p>
            </div>
            <div th:value="${dictionary['email-in-use']}" id="error" th:if="${error == 1}" style="color: red;">
            </div>
            <div th:if="${success != 1}">
                <form id="email-form" action="/bloip-settings/email" method="post">
                    <label th:text="${dictionary['current']}" >Current</label>
                    <input id="oldEmail" name="oldEmail" type="email" th:value="${email}" readonly required style="display: inline-block; padding: 10px;">
                    <BR/>
                    <BR/>
                    <label th:text="${dictionary['new']}" style="margin-top: 0px;">New</label>
                    <input id="newEmail" name="newEmail" type="email" required>
                    <input type="hidden" name="csrfToken" th:value="${csrfToken}" required>
                    <BR/>
                    <input th:value="${dictionary['update-email-address']}" id="submit-button" type="submit" style="padding: 10px;">
                </form>
            </div>
        </div>
    </th:block>
    </body>
</html>