<!DOCTYPE html>
<html th:attr="lang=${language.code}" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    </head>
    <body>
        <div id="center-wrap">
            <header>
                <!--TODO: wrap standard logo in this block then overwrite it in the homepage but don't override it in all other pages -->
                <th:block layout:fragment="header">
                    <div th:replace="fragments/inbox-total.html :: inbox-total"></div>
                    <th:block layout:fragment="logo">
                        <div id="logo-container">
                            <a th:href="${baseUrl}" aria-label="Link to home page">
                                <th:block th:if="${isMobile}">
                                    <img alt="Bloip logo" th:attr="src=${mscCdn + '/images/mobile-logo.png'}"/>
                                </th:block>
                                <th:block th:unless="${isMobile}">
                                    <img alt="Bloip logo" th:attr="src=${mscCdn + '/images/logo.png'}"/>
                                </th:block>
                                <th:block th:if="${isMobile}">
                                    <div id="header-rule">
                                        <hr/>
                                    </div>
                                </th:block>
                            </a>
                        </div>
                    </th:block>
                </th:block>
            </header>

            <main>
                <!--The meat and potatoes of the layout. Put what you wish to override for each page below-->
                <div id="layout-center">
                    <th:block layout:fragment="content">
                        <!--Move each pages contents here in individual templates-->
                    </th:block>
                </div>
            </main>

            <footer>

                <div id="twitter-container">
                    <a href="https://www.twitter.com/BloipApp" target="_blank"><BR/>
                        <div th:text="${footerTranslations['twitter-message']}"></div><BR/>
                        <img th:src="${mscCdn + '/images/twitter.png'}" alt="Link to the Bloip twitter page">
                    </a>
                </div>
            </footer>
        </div>
    </body>
</html>