<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head>
        <th:block layout:replace="fragments/base-meta.html :: baseMetaContent" th:remove="tag"></th:block>
        <style>
            #inbox-total-container {
                display: none;
            }
        </style>
    </head>
    <body>
        <th:block layout:fragment="content">
            <H1>Moderate Discussion</H1>
            <HR/>

            <div style="background-color: greenyellow;" th:if="${updated}">
                Updated
            </div>

            <H2 th:text="${discussion.title}"></H2>
            <audio th:src="${discussion.audioUrl}" controls></audio>
            <BR/>
            <BR/>
            <form method="post" action="/castelo/moderation/title">
                <input name="discussionId" th:value="${discussion.id}" type="hidden"/>
                <input type="submit" value="Moderate title"/>
            </form>
            <BR/>
            <BR/>
            <form method="post" action="/castelo/moderation/discussion">
                <input name="discussionId" th:value="${discussion.id}" type="hidden"/>
                <input type="submit" value="Moderate lead recording"/>
            </form>
            <BR/>
        </th:block>
    </body>
</html>