<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Inbox</title>
        <div th:replace="fragments/links.html :: links"></div>
        <div th:replace="fragments/scripts.html :: scripts"></div>
        <style type="text/css">
            tr {
                margin-bottom: 50px;
                border: 1px solid blue
            }
        </style>
        <script type="text/javascript">
            function toggleInboxSubscription(self, discussionId) {
                var subscribed = $(self).text() === "Unsubscribe"
                if(subscribed) {
                    $(self).text("Subscribe");
                    sendInboxCommand("/unsubscribe-inbox/", discussionId);
                } else {
                    $(self).text("Unsubscribe");
                    sendInboxCommand("/subscribe-inbox/", discussionId);
                }
            }
            function deleteFromInbox(self, discussionId) {
                $("#" + discussionId).remove();
                sendInboxCommand("/delete-inbox/", discussionId);
            }
            function sendInboxCommand(urlFragment, discussionId) {
                $.ajax({
                    type: "post",
                    url: urlFragment +discussionId,
                    success: function (data) {
                    }
                });
            }
        </script>
    </head>
    <body>
    <span id="stash" th:attr="inboxTotal=${inboxTotal}" style="display: none"></span>
    <div th:replace="fragments/inbox-total.html :: inbox-total"></div>
        <H1>Inbox</H1>
        <HR/>

        <table>
            <tr th:each="i: ${inbox}" th:attr="id=${i.discussionId}">
                <td th:text="${i.count}"></td>
                <td><a th:href="'/d/' + ${i.discussionId} +'?currentTrack=' +${i.trackNumber}" th:text="${i.title}"/></td>
                <td><a th:href="'/d/' + ${i.discussionId} +'?currentTrack=' +${i.trackNumber}" th:text="'Track #' +${i.trackNumber}"/></td>
                <td>
                    <button th:if="${i.subscribed}" th:attr="onclick=${'toggleInboxSubscription(this,' + i.discussionId + ')'}">Unsubscribe</button>
                    <button th:if="${i.subscribed == false}" th:attr="onclick=${'toggleInboxSubscription(this,' + i.discussionId + ')'}">Subscribe</button>
                </td>
                <td><button th:attr="onclick=${'deleteFromInbox(this,' + i.discussionId + ')'}">Delete</button></td>
            </tr>
        </table>

        <div>
            <span th:if="${previousOffsetKey != null}"><a th:href="'/inbox?o=' +${previousOffsetKey} + '&d=-1'"><button>PREVIOUS</button></a></span>
            <span th:if="${nextOffsetKey != null}"><a th:href="'/inbox?o=' +${nextOffsetKey} + '&d=1'"><button>NEXT</button></a></span>
        </div>
    </body>
</html>