<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head>
        <title th:text="${dictionary['confirm-account-deletion']}"></title>
        <th:block layout:replace="fragments/base-meta.html :: baseMetaContent" th:remove="tag"></th:block>
        <style>
            input {
                text-align: center;
                font-size: 1.25em;
            }
        </style>
    </head>
    <body>
        <th:block layout:fragment="content">
            <H1 th:text="${dictionary['confirm-account-deletion']}"></H1>
            <HR/>
            <BR/>
            <div style="font-size: 1.5em; text-align: center;">
                <p th:text="${dictionary['confirmation-message']}"></p>
                <p><a th:text="${dictionary['delete-my-account']}" id="delete-my-account" href="/bloip-settings/delete-my-account"></a></p>
                <p><a th:text="${dictionary['homepage']}" href="/"></a></p>
            </div>
        </th:block>
    </body>
</html>