<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head>
        <title th:text="${dictionary['notification-settings']}"></title>
        <th:block layout:replace="fragments/base-meta.html :: baseMetaContent" th:remove="tag"></th:block>
        <style>
            input {
                font-size: 1.25em;
            }
            .message {
                font-size: 1.25em;
            }
        </style>
    </head>
    <body>
        <th:block layout:fragment="content">
            <H1 th:text="${dictionary['email-notifications']}">Email Notifications</H1>
            <HR/>
            <BR/>
            <div>
                <div th:text="${dictionary['disabled-message']}" class="message" th:if="${disabled == true && success == 1}" style="color: green;">
                </div>
                <div th:text="${dictionary['enabled-message']}"  class="message" th:if="${disabled == false && success == 1}" style="color: green;">
                </div>
                <div th:if="${success != 1}">
                    <div th:text="${dictionary['currently-disabled']}" class="message"th:if="${disabled == true}">
                    </div>
                    <div th:text="${dictionary['currently-enabled']}" class="message"th:if="${disabled == false}">
                    </div>
                </div>
            </div>
            <BR/>
            <div style="font-size: 1.5em;">
                <form id="form" action="/bloip-settings/notifications" method="post">
                    <input type="hidden" name="csrfToken" th:value="${csrfToken}">
                    <div th:if="${disabled == true}">
                        <input id="submit-button" type="submit" th:value="${dictionary['enable']}"value="Enable">
                    </div>
                    <div th:if="${disabled == false}">
                        <input type="hidden" name="disabled" value="1">
                        <input id="submit-button" type="submit" th:value="${dictionary['disable']}"value="Disable">
                    </div>
                </form>
            </div>
        </th:block>
    </body>
</html>