<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head>
        <title th:text="${dictionary['settings']}"></title>
        <th:block layout:replace="fragments/base-meta.html :: baseMetaContent" th:remove="tag"></th:block>
        <style>
            .settings-buttons {
                font-size: 1.5em;
            }
        </style>
        <script type="text/javascript">
            function emailSettings() {
                window.location.href="/bloip-settings/email"
            }
            function notificationSettings() {
                window.location.href="/bloip-settings/notifications"
            }
            function deleteMyAccount() {
                window.location.href="/bloip-settings/confirm-account-deletion"
            }
            function logout() {
                window.location.href="/bloip-logout"
            }
        </script>
    </head>
    <body>
    <th:block layout:fragment="content">
        <H1>Account Settings</H1>
        <HR/>
        <BR/>
        <div>
            <button th:text="${dictionary['change-email-address']}" id="email-settings" class="settings-buttons" onclick="emailSettings();"></button>
            <BR/>
            <BR/>
            <button th:text="${dictionary['notifications']}" id="notification-settings" class="settings-buttons" onclick="notificationSettings();"></button>
            <BR/>
            <BR/>
            <button th:text="${dictionary['delete-my-account']}" id="delete-my-account" class="settings-buttons" onclick="deleteMyAccount();"></button>
            <BR/>
            <BR/>
            <button th:text="${dictionary['logout']}" id="logout" class="settings-buttons" onclick="logout();"></button>
        </div>
    </th:block>
    </body>
</html>