<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head>
        <title th:text="${dictionary['complete-account']}"></title>
        <th:block layout:replace="fragments/base-meta.html :: baseMetaContent" th:remove="tag"></th:block>
        <style>
            #inbox-total-container {
                display: none;
            }
            form {
                font-size: 1.25em;
            }
            label {
                margin-bottom: 10px;
            }
            input {
                text-align: center;
                font-size: 1.25em;
            }
        </style>
        <script type="text/javascript">
        </script>
    </head>
    <body>
    <th:block layout:fragment="content">
        <H1 th:text="${dictionary['complete-account']}"></H1>
        <HR/>
        <BR/>
        <div id="error-1" th:if="${error == 1}" style="color: red; font-size: 1.5px;">
            <p th:text="${dictionary['already-created']}">
            </p>
            <p><a th:text="${dictionary['login']}" href="/bloip-login"></a></p>
        </div>
        <div id="no-error-container" th:if="${error == null}">
            <div th:text="${dictionary['enter-password']}">
            </div>
            <form id="signup-form" action="/complete-signup" method="post">
                <BR/>
                <input name="t" type="hidden" th:value="${token}">
                <input id="email" type="email" name="email" th:value="${email}" readonly>
                <BR/>
                <BR/>
                <input id="password" type="password" minlength="8" maxlength="20" name="password" th:attr="placeholder=${dictionary['password']}" required>
                <BR/>
                <BR/>
                <input id="submit-button" type="submit" th:value="${dictionary['complete-account']}">
            </form>
        </div>
    </th:block>
    </body>
</html>