<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head>
        <title th:text="${dictionary['forgot-my-password']}"></title>
        <th:block layout:replace="fragments/base-meta.html :: baseMetaContent" th:remove="tag"></th:block>
        <style>
            #inbox-total-container {
                display: none;
            }
            #forgot-my-password-form-container {
                font-size: 1.25em;
            }
            .messageBox {
                border-radius: 7px;
                padding: 20px;
                font-size: 1.25em;
            }
            input {
                font-size: 1.25em;
            }
        </style>
    </head>
    <body>
    <th:block layout:fragment="content">
        <H1 th:text="${dictionary['forgot-my-password']}"></H1>
        <HR/>
        <div id="success" th:if="${success}" class="messageBox" style="color: green;">
            <p th:text="${dictionary['email-sent']}"></p>
            <p th:text="${dictionary['click-link']}"></p>
        </div>
        <div id="error" th:if="${error}" class="messageBox" style="color: red;">
            <p th:text="${dictionary['no-account-found']}"></p>
        </div>
        <div th:if="${success != 1}" id="forgot-my-password-form-container">
            <form action="/bloip-forgot-my-password" method="post">
                <BR/>
                <input id="email" type="email" name="email" th:attr="placeholder=${dictionary['enter-your-email-address']}" required><BR/>
                <BR>
                <input id="submit-button" type="submit" th:value="${dictionary['send-email']}">
            </form>
        </div>
    </th:block>
    </body>
</html>