<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head>
        <title th:text="${dictionary['login']}"></title>
        <th:block layout:replace="fragments/base-meta.html :: baseMetaContent" th:remove="tag"></th:block>
        <style>
            #inbox-total-container {
                display: none;
            }
            form {
                font-size: 1.25em;
            }
            label {
                margin-bottom: 10px;
            }
            input {
                text-align: center;
                font-size: 1.25em;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#email").val(sessionStorage.getItem("lg-email"));

                $("#login-form").submit(function (e){
                   sessionStorage.setItem("lg-email",$("#email").val());
                });
            });
        </script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <H1 th:text="${dictionary['login']}"></H1>
            <HR/>
            <div th:text="${dictionary['password-success']}" id="password-reset" th:if="${passwordReset}" style="font-size: 1.5em; color: green; padding: 20px;">
            </div>
            <div id="error" th:if="${error}" style="color: red; font-size: 1.5em;">
                <p th:text="${dictionary['wrong']}"></p>
            </div>
            <form id="login-form" action="/bloip-login" method="post">
                <BR/>
                <input id="email" type="email" name="username" th:attr="placeholder=${dictionary['email-address']}" autofocus required autocomplete="on">
                <BR/>
                <BR/>
                <input id="password" type="password" name="password" th:attr="placeholder=${dictionary['password']}" required>
                <BR>
                <BR/>
                <input id="submit-button" type="submit" th:value="${dictionary['login']}">
            </form>
            <BR/>
            <BR>
            <div style="font-size: 1.25em;">
                <a th:text="${dictionary['signup']}" id="signup" href="/bloip-signup"></a>
                <BR/>
                <BR/>
                <a th:text="${dictionary['forgot-my-password']}" id="forgot-my-password" href="/bloip-forgot-my-password"></a>
            </div>
        </th:block>
    </body>
</html>