<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>+New Discussion</title>

        <div th:insert="discussion/fragments/scripts.html :: scripts"></div>

        <script type="module" src="/recording/state-machine/createDiscussionFsm.js"></script>


        <div th:insert="discussion/fragments/styles.html :: styles"></div>
    </head>

    <body>
        <span id="stash" th:attr="maxTitleLength=${maxTitleLength}" style="display: none"></span>
        <div th:insert="discussion/fragments/states.html :: states"></div>
    </body>
</html>