<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>+New Discussion</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript">

            const ApplicationStates = {
                IDLE: 0,
                RECORDING: 1,
                FINISHED_RECORDING: 2,
                PREVIEWING: 3,
                FINISHED_PREVIEW: 4,
                SAVING: 5
            };

            const MAX_COUNT = 60;
            const AppState = {
                counter: MAX_COUNT,
                setIntervalPointer: undefined,
                state: ApplicationStates.IDLE
            };

            //TODO: Start recording
            function startRecording() {
                startTimer();
                showFinishRecording();
                AppState.state = ApplicationStates.RECORDING;
            }
            function showFinishRecording() {
                $("#nd-record-stop-button").css("display", "inline");
                $("#nd-record-stop-button").text("Finish Recording");
            }

            function startTimer() {
                AppState.setIntervalPointer = setInterval(function(){decrementCounter();}, 1000);
            };
            function decrementCounter() {
                AppState.counter--;
                $("#nd-counter-display").text(AppState.counter);
                if(AppState.counter <= 0) {
                    this.stopRecording();
                }
            };

            //TODO: stop recording
            function stopRecording() {
                stopTimer();
                hideStartStopButton();
                showPreviewOptions();
                AppState.state = ApplicationStates.FINISHED_RECORDING
            }
            function stopTimer() {
                clearInterval(AppState.setIntervalPointer);
                $("#nd-counter-display").text("");
            }
            function hideStartStopButton() {
                $("#nd-record-stop-button").css("display", "none");
            }
            function showPreviewOptions() {
                $("#nd-preview-button").css("display", "inline");
                $("#nd-preview-button").text("Listen / Preview");
            }

            //TODO: Start preview
            function startPreview() {
                showStopPreview();
                AppState.state = ApplicationStates.PREVIEWING
            }
            function showStopPreview() {
                $("#nd-preview-button").css("display", "inline");
                $("#nd-preview-button").text("Stop Preview");
            }

            //TODO: Stop preview
            function stopPreview() {
                AppState.state = ApplicationStates.FINISHED_PREVIEW
                showPreviewOptions();
                showSaveAndDelete();
            }
            function hidePreview() {
                $("#nd-preview-button").css("display", "none");
            }
            function showSaveAndDelete() {
                $("#nd-save-button").css("display", "inline");
                $("#nd-delete-button").css("display", "inline");
            }

            //TODO: Purge buffer
            function deleteRecording() {
                AppState.state = ApplicationStates.IDLE
                hidePreview();
                hideSaveAndDelete()
                showStart();
            }
            function showStart() {
                $("#nd-counter-display").text(MAX_COUNT);
                $("#nd-record-stop-button").css("display", "inline");
                $("#nd-record-stop-button").text("Start Recording");
            }

            function saveRecording() {
                hidePreview();
                hideSaveAndDelete();
                $("#nd-counter-display").text("Saving...");
            }
            function hideSaveAndDelete() {
                $("#nd-save-button").css("display", "none");
                $("#nd-delete-button").css("display", "none");
            }

            $(document).ready(function() {
                $("#nd-record-stop-button").click(function() {
                    switch(AppState.state) {
                        case ApplicationStates.IDLE:
                            startRecording();
                            break;
                        case ApplicationStates.RECORDING:
                            stopRecording();
                            break;
                    }
                });

                $("#nd-preview-button").click(function() {
                    switch(AppState.state) {
                        case ApplicationStates.FINISHED_RECORDING:
                            startPreview();
                            break;
                        case ApplicationStates.PREVIEWING:
                            stopPreview();
                            break;
                        case ApplicationStates.FINISHED_PREVIEW:
                            startPreview();
                            break;
                        default:
                            break;
                    }
                });

                $("#nd-save-button").click(function() {
                    saveRecording();
                });

                $("#nd-delete-button").click(function() {
                    deleteRecording();
                });
            });
        </script>
        <style type="text/css">
        </style>
    </head>
    <body>
        <div id="nd-counter-display-container">
            <span id="nd-counter-display">60</span>
        </div>
        <div id="nd-controls-container">
            <button id="nd-record-stop-button" style="display: inline">Start Recording</button>
            <button id="nd-preview-button" style="display: none">Listen / Preview</button>
            <button id="nd-save-button" style="display: none">Save</button>
            <button id="nd-delete-button" style="display: none">Delete</button>
        </div>
    </body>
</html>