<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>+New Discussion</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/shared/bloip.js"></script>
    <script type="text/javascript" src="/shared/state-machine/shared/stateMachine.js"></script>
    <script type="module" src="/shared/state-machine/newDiscussionFsm.js"></script>
    <script type="module" src="/shared/vmsg.js"></script>
    <!--<script type="module" src="/shared/wasm-polyfill.js"></script>-->
    <script type="module" src="/shared/wasmRecorder.js"></script>

    <style type="text/css">
        .vmsg-backdrop {
            display: none;
        }
    </style>
</head>
<body>
    <!-- State 0: Discussion info collection -->
    <div id="nd-discussion-info-state-view" style="display: none">
        <div id="nd-discussion-info-display-container">
            <H1>What title do you want for your discussion?</H1>
            <form method="get" action="/new-discussion/is-unique">
                <label for="nd-discussion-title">Discussion Title</label><br><BR/>
                <input id="nd-discussion-title" type="text" name="title" placeholder="Enter a title for your topic" size="50" maxlength="100">
                <BR/>
            </form>
            <BR/>
            <button id="nd-discussion-info-submit-button">Submit</button>
            <BR/>
            <BR>
        </div>
    </div>


    <!--State 1: Idle -->
    <div id="nd-idle-state-view" style="display: none">
        <div id="nd-counter-display-container">
            <H1>Record up to 60 minutes of your thoughts on any issue.</H1>
            <BR/>
            <BR>
        </div>
        <BR/>
        <div class="nd-controls-container">
            <button id="nd-record-button">Start Recording</button>
        </div>
    </div>

    <!--State 2: Recording -->
    <div id="nd-recording-state-view" style="display: none">
        <div>
            <span id="nd-counter-display">5</span>
        </div>
        <div class="nd-controls-container">
            <button id="nd-stop-button">Finish Recording</button>
        </div>
    </div>

    <!--State 3: Recording Complete / Preview -->
    <div id="nd-recording-complete-state-view" style="display: none">
        <div>
            <audio id="nd-previewControl" type="audio/mpeg" controls></audio>
        </div>
        <BR/>
        <div class="nd-controls-container">
            <button id="nd-save-button">Save</button>
            <button id="nd-delete-button">Delete</button>
        </div>
    </div>

    <!--State 4: Saving -->
    <div id="nd-saving-state-view" style="display: none">
        <div>
            <H1 id="nd-saving-display">Saving.....</H1>
        </div>
    </div>

    <!--State 5: Confirmation -->
    <div id="nd-confirmation-state-view" style="display: none">
        <div>
            <H1 id="nd-confirmation-display">Confirmation info</H1>
        </div>
    </div>
</body>
</html>