<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Respond</title>
        <div th:replace="fragments/scripts.html :: scripts"></div>
        <div th:replace="discussion/fragments/scripts.html :: scripts"></div>
        <script type="text/javascript" src="/shared/webPushNotification.js"></script>
        <script type="module" src="/recording/state-machine/replyFsm.js"></script>
        <div th:replace="discussion/fragments/styles.html :: styles"></div>
    </head>

    <body>
        <span id="stash" th:attr="applicationServerKey=${applicationServerKey}" style="display: none"></span>
        <div th:replace="discussion/fragments/states.html :: states"></div>
    </body>
</html>