<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head>
        <title>Respond</title>
        <script type="text/javascript" src="/recording/wasm/bloip.js"></script>
        <script type="text/javascript" src="/recording/state-machine/shared/stateMachine.js"></script>
        <script type="module" src="/recording/state-machine/shared/states.js"></script>
        <script type="module" src="/recording/state-machine/replyFsm.js"></script>
    </head>

    <body>
        <th:block layout:fragment="content">
            <div layout:insert="discussion/fragments/states.html :: states" th:remove="tag"></div>
        </th:block>
    </body>
</html>