<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head th:attr="lang=${language.code}">
        <th:block layout:replace="fragments/base-meta.html :: baseMetaContent" th:remove="tag"></th:block>
        <style>
            #inbox-total-container {
                display: none;
            }
        </style>
    </head>

    <body th:attr="enable-remote-services=${ENABLE_REMOTE_SERVICES}">
        <th:block layout:fragment="content" th:remove="tag">
            <div layout:insert="discussion/fragments/states.html :: states" th:remove="tag"></div>
            <th:block th:replace="discussion/fragments/recording.html :: recording" th:remove="tag"></th:block>
            <script crossorigin="anonymous" th:src="${mscCdn + '/recording/state-machine/replyFsm.js'}"></script>
        </th:block>
    </body>
</html>