<div id="communication-context" th:fragment="communication-context">
    <!--<span id="country" style="font-size: 1.5em;" th:text="${bodyTranslations['my-country-message'] + ': '+ countryDisplayName.name}"/>-->
    <!--<span id="country" style="font-size: 1em;" th:text="${bodyTranslations['my-country-message']}"/>
    <BR/>
    <BR/>-->
    <BR/>
    <div id="flag-container">
        <img id="flag" th:src="${mscCdn + '/images/flags/' + countryDisplayName.country.code + '.png'}">
    </div>
    <BR/>
    <div>
        <select id="languages" name="languages" class="cc-menu" style="width: 150px;">
            <option th:each="l: ${languageDisplayNames}" th:value="${l.canonicalLanguage.code}" th:text="${l.name}" th:selected="${l.canonicalLanguage.id == language.id}"/>
        </select>
    </div>
  <BR/>
</div>