<div id="communication-context" th:fragment="communication-context">
    <BR/>
    <span id="country" style="font-size: 1.5em;" th:text="${bodyTranslations['my-country-message'] + ': '+ countryDisplayName.name}"/>
    <BR/>
    <BR/>
    <div>
        <select id="languages" name="languages" class="cc-menu" style="width: 150px;">
            <option th:each="l: ${languageDisplayNames}" th:value="${l.canonicalLanguage.code}" th:text="${l.name}" th:selected="${l.canonicalLanguage.id == language.id}"/>
        </select>
    </div>
  <BR/>
</div>