<!DOCTYPE html>
<html>
    <head>
        <title>Use your mic</title>
        <style>
            #child-window-container {
                text-align: center;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function() {
                initWebsocketConnection();
             });
        </script>
    </head>
    <body>
        <div id="child-window-container">
            <div><img src="/images/short-logo.png"></div>
            <p>Leave this window open so that you will be notified when there is a new reply</p>
            <div>
                <img src="/images/loading.gif"/>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer">
        </script>
    </body>
</html>