<!DOCTYPE html>
<!-- This seems to be shown for the custom exception handler -->
<html layout:decorate="~{layouts/main-layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <style>
            #inbox-total-container {
                display: none;
            }
        </style>
        <th:block layout:replace="fragments/base-meta.html :: baseMetaContent" th:remove="tag"></th:block>
    </head>
<body>
    <th:block layout:fragment="content">
        <div style="text-align: center">
            <H1>Oops!!</H1>
            <p>Something just broke and someone has been notified.</p>

            <p th:if="${message}" th:text="${message}"></p>

            <p>Try again later or send a message to @BloipApp on Twitter.
            </p>
            <BR/>
        </div>
    </th:block>
    </body>
</html>