<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head>
        <style>
            #inbox-total-container {
                display: none;
            }
        </style>
    </head>
<body>
    <th:block layout:fragment="content">
        <div style="text-align: center">
            <H1>Oops!!</H1>
            <p>Something just broke and someone has been notified.</p>

            <p th:if="${message}" th:text="${message}"></p>

            <p>Try again later or send a message to @BloipApp on Twitter.
            </p>
            <BR/>
        </div>
    </th:block>
    </body>
</html>