<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head>
        <title>Topics of discussion</title>
        <style>
            #all-discussions {
                margin-top: 25px;
            }

            #home-discussions {
                margin-top: 10px;
            }

            #home-center-container {
                margin-top: 0px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <th:block layout:fragment="content">
            <div id="home-center-container">
                <p>Choose a topic below to start an audio conversation.</p>

                <HR/>

                <div id="all-discussions">
                    <a href="/b">All Discussions</a>
                </div>

                <div id="home-discussions">
                    <div th:each="t: ${topics}">
                        <B>
                            <a th:href="'/b/' + ${t.friendlyId}">
                                <span th:text="${t.name} + '(' + ${t.count} + ')'"/>
                            </a>
                        </B>
                    </div>
                </div>
                <BR/>
            </div>
        </th:block>
    </body>
</html>