<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bloip!</title>
    <style type="text/css">
        #new-discussion-button-container {
            text-align: center;
        }
        #new-discussion-button {

        }
    </style>
</head>
<body>
    <div style="text-align: right">
        <a href="/inbox">
            <span>Inbox(</span><span th:text="${inboxTotal}"/><span>)</span>
        </a>
    </div>
    <H1>Discussions</H1>
    <HR/>

    <div th:each="d: ${discussions}">
        <div>
            <a th:href="${d.getUrl()}">
                <span th:text="${d.title}"/>
            </a>
        </div>
        <BR/>
        <div>
            <audio preload="none" controls>
                <source th:attr="src=${d.audioUrl}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <BR/>
        <div>
            <a th:href="${d.getUrl()}">
                <span>Replies(</span><span th:text="${d.numberOfReplies}"/><span>)</span>
            </a>
        </div>
        <BR/>
    </div>
    <div>
        <span th:if="${previousOffsetKey != null}"><a th:href="'/?o=' +${previousOffsetKey} + '&d=-1'"><button>PREVIOUS</button></a></span>
        <span th:if="${nextOffsetKey != null}"><a th:href="'/?o=' +${nextOffsetKey} + '&d=1'"><button>NEXT</button></a></span>
    </div>
    <div id="new-discussion-button-container">
        <a href="/new-discussion" target="_blank"><Button id="new-discussion-button">+New Discussion</Button></a>
    </div>
</body>
</html>