
/*** Recording styles ***/
#counter-display {
    font-size: 10em;
    color: green;
}

#states-container {
    min-height: 600px;
    text-align: center;
}

.preview-player-buttons:hover {
    cursor: pointer;
}

#discussion-topic {
    font-size: 1.5em;
}

#stop-button {
    margin-top: 50px;
}

.success-view p {
    font-size: 1.125em;
}