<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
    <head>
        <th:block layout:replace="fragments/base-meta.html :: baseMetaContent" th:remove="tag"></th:block>
        <style>
            #inbox-total-container {
                display: none;
            }
        </style>
    </head>
    <body>
    <th:block layout:fragment="content">
        <H1>Valkyrie</H1>
        <HR/>

        <H2>Discussion</H2>
        <p>Delete discussion</p><BR/>
        <p>Delete all user discussions</p><BR/>
        <BR/>

        <H2>Comments</H2>
        <p>Censor comment</p><BR/>
        <p>Censor all user comments</p><BR/>
        <BR/>

        <H2>Block</H2>
        <p>Block User</p><BR/>
        <p>Block IP</p>

    </th:block>
    </body>
</html>