<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout.html}">
<head>
    <th:block layout:replace="fragments/base-meta.html :: baseMetaContent" th:remove="tag"></th:block>
    <style>
        #inbox-total-container {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function() {
            document.getElementById("siteTranslationContexts").onchange = function() {
                resetMenus();
            }
            document.getElementById("languages").onchange = function () {
                resetMenus();
            }
        });
        function resetMenus() {
            window.location.href = window.location.pathname+ "?siteTranslationContextId="+
                document.getElementById("siteTranslationContexts").value + "&languageId=" + document.getElementById("languages").value
        }
    </script>
</head>
<body>
<th:block layout:fragment="content">
    <H1>Language Translation</H1>
    <HR/>

    <div th:if="${updated}" style="font-size: 3em; background-color: green">
        UPDATED
    </div>

    <H2>Site Translation Contexts</H2>
    <div>
        <select id="siteTranslationContexts" name="contexts" class="" style="">
            <option th:each="c: ${siteTranslationContexts}" th:value="${c.id}" th:text="${c.context}" th:selected="${c.id == siteTranslationContextId}"/>
        </select>
    </div>

    <H2>Languages</H2>
    <div>
        <select id="languages" name="languages" class="" style="">
            <option th:each="l: ${languages}" th:value="${l.id}" th:text="${l.canonicalName}" th:selected="${l.id == languageId}"/>
        </select>
    </div>

    <div th:if="${(siteTranslationContextId != null) && (languageId != null)}">
        <H2>Manual Edit</H2>
        <form action="/castelo/tower-of-babel" method="POST">
            <input name="siteTranslationContextId" type="hidden" th:value="${siteTranslationContextId}">
            <input name="languageId" type="hidden" th:value="${languageId}">
            <label>Translation Keys</label><BR/>
            <select name="translationKeyId">
                <option th:each="tk: ${translationKeys}" th:value="${tk.id}" th:text="${tk.key}"/>
            </select>
            <BR/>
            <label>Automatically translate into all languages</label><BR/>
            <input type="checkbox" value="1" name="automate" checked><BR/><BR/>
            <label>Key Value</label><BR/>
            <input name="translationKeyValue" type="text">
            <BR/>
            <BR/>
            <input type="submit" value="Submit"/>
        </form>
        <BR/>
        <BR/>
        <HR/>
        <H2>Translations</H2>
        <div>
            <div th:each="t: ${translations}" th:text="${t.value}"/>
        </div>

        <div>
            <H2>Translations Missing</H2>
            <div th:text="${missingTranslations}"/>
        </div>
    </div>

    <div th:if="${(siteTranslationContextId != null)}">
        <H2>New Key</H2>
        <form action="/castelo/tower-of-babel/new-key" method="POST">
            <input name="siteTranslationContextId" type="hidden" th:value="${siteTranslationContextId}">
            <input name="languageId" type="hidden" th:value="${languageId}">
            <label>Key Name</label><BR/>
            <input name="translationKeyName" type="text">
            <BR/>
            <label>Key Value</label><BR/>
            <input name="translationKeyValue" type="text">
            <BR/>
            <BR/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
    <BR/>
    <BR/>
    <BR/>
    <HR/>

    <!--<H2>Automatic Translate Languages</H2>
    <form action="/castelo/tower-of-babel/auto-languages" method="POST">
        <input name="languageId" type="hidden" th:value="${languageId}">
        <BR/>
        <input type="submit" value="Translate all languages for selected language"/>
    </form>

    <H2>Automatic Translate Countries</H2>
    <form action="/castelo/tower-of-babel/auto-countries" method="POST">
        <input name="languageId" type="hidden" th:value="${languageId}">
        <BR/>
        <input type="submit" value="Translate all countries for selected language"/>
    </form>

    <H2>Automatic Translate Keys</H2>
    <form action="/castelo/tower-of-babel/auto-keys" method="POST">
        <input name="languageId" type="hidden" th:value="${languageId}">
        <BR/>
        <input type="submit" value="Translate all keys for selected language"/>
    </form>-->

</th:block>
</body>
</html>